{% extends "base.html" %}

{% block content %}
{%for error in get_flashed_messages()%}
    <div class="alert alert-danger">
        <a href="#" class="alert-link">{{error}}</a>
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    </div>
{%endfor%}
<div class="row">

    <div class="col-lg-3">
        <h3>Add a Student</h3>
        <hr>
        <p>Here you can add a new student to your class.</p>
    </div> <!-- col-lg-4 -->

    <div class="col-lg-8" style="padding-top: 20px;">
    {% if error %}
        <div class="alert alert-danger">
          <a href="#" class="alert-link">{{error}}</a>
          <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        </div>
    {%endif%}

    <form class="form-horizontal" action="" method="post" name="login">
        {{form.hidden_tag()}} <!-- key for csrf -->
        {% if form.errors.nameField %}
        <div class="form-group has-error">
        {%else%}
        <div class="form-group">
        {% endif %}

            <label for="name" class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                {{form.nameField(class="form-control", id="name")}}
                </div>
        </div> <!-- username form group -->
        {% if form.errors.pwordField %}
        <div class="form-group has-error">
        {%else%}
        <div class="form-group">
        {% endif %}
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
            {{form.pwordField(class="form-control", id="password")}}
            </div>
        </div> <!-- pword form group -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div> <!-- button div -->
        </div> <!-- button form group -->
    </form>
    </div> <!-- col-lg-6 -->

</div> <!-- row -->
{% endblock %}

