{% extends 'dash.html' %}
{% block content %}
{% for message in get_flashed_messages()  %}
    <div class="alert alert-warning">
        {{message}}
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
    </div>
{% endfor %}
<div class="page-header">
  <h2>Hello, {{session['username'].title()}}!
<small>You are a {{usertype}}.</small></h2>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Students</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                {% for student in students %}
                    <a href="student/{{student.id}}" class="list-group-item">{{student.username}}</a>
                {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <a href="{{url_for('addStudent')}}">Add New</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Quizzes</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                {% for quiz in quizzes%}
                        <a href="quiz/{{quiz.id}}" class="list-group-item">
                            <strong>{{quiz.subject.title()}}</strong> Posted: {{quiz.timestamp.day}}/{{quiz.timestamp.month}}/{{quiz.timestamp.year}}</a>
                {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <a href="">Add New</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>

{%endblock%}
