{% extends 'base.html' %}
{%block content%}
    {% for message in get_flashed_messages()  %}
        <div class="alert alert-success">
            {{message}}
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        </div>
    {% endfor %}
    <div class="jumbotron">
            <h2>Welcome to Better Learning!</h2><br>
            <!-- <p>This is the next generation of learning technology</p> -->
            <p><a href='{{url_for("dash")}}' class="btn btn-primary btn-lg" role="button">Let's Get Learning</a></p>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <center><h4>Services for all levels of education</h4></center>
            <img src="{{url_for('static', filename='images/teacher.jpg')}}" class="img-responsive img-circle">
        </div>
        <div class="col-xs-4">
            <center><h4>Students really can be this happy</h4></center>
            <img src="{{url_for('static', filename='images/happy-students.jpg')}}" class="img-responsive img-circle">
        </div>
        <div class="col-xs-4">
            <center><h4>This professor uses Better Learning</h4></center>
            <img src="{{url_for('static', filename='images/college.jpg')}}" class="img-responsive img-circle">
        </div>
    </div>

{%endblock%}
